.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-me-hero {
  height: 400px;
  width: 100vw;
  margin-left: 0px;
  background-image: url('../../public/pictures/niseko_snowboarding.png');
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-text {
  position: absolute;
  top: 30px;         /* Distance from the top */
  left: 240px;       /* Distance from the left (accounts for navbar width) */
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  font-family: 'Rock Salt', cursive;
}

.about-me-content {
  padding: 2rem;
  background-color: white;
  color: black;
}

.waterborne-skate-video {
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.red-bar {
  width: 100%;
  height: 100px;
  background-color: red;
}
